<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autohide</key>
	<false/>
	<key>autohide-delay</key>
	<real>0.0</real>
	<key>autohide-time-modifier</key>
	<real>0.0</real>
	<key>enable-spring-load-actions-on-all-items</key>
	<true/>
	<key>expose-animation-duration</key>
	<real>0.10000000149011612</real>
	<key>expose-group-by-app</key>
	<false/>
	<key>last-analytics-stamp</key>
	<array>
		<real>805462752.664783</real>
	</array>
	<key>lastShowIndicatorTime</key>
	<real>805016178.18060195</real>
	<key>launchanim</key>
	<false/>
	<key>loc</key>
	<string>en_GB:SE</string>
	<key>mineffect</key>
	<string>scale</string>
	<key>minimize-to-application</key>
	<true/>
	<key>mod-count</key>
	<integer>44</integer>
	<key>mouse-over-hilite-stack</key>
	<true/>
	<key>mru-spaces</key>
	<false/>
	<key>persistent-apps</key>
	<array>
		<dict>
			<key>GUID</key>
			<integer>4137676146</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va1QCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGQB
				AAAEAAAAAwMAAAAAACAGAAAAAQEAAFN5c3RlbQAADAAA
				AAEBAABBcHBsaWNhdGlvbnMMAAAAAQEAAENhbGVuZGFy
				LmFwcAwAAAABBgAAEAAAACAAAAA0AAAACAAAAAQDAAAX
				AAAA////DwgAAAAEAwAAGQAAAP///w8IAAAABAMAAEIN
				AAD///8PDAAAAAEGAABcAAAAbAAAAHwAAAAIAAAAAAQA
				AEHH34AvAAAAGAAAAAECAAACAAAAAAAAAA8AAAAAAAAA
				AAAAAAAAAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABN
				YWNpbnRvc2ggSEQIAAAABAMAAAAgJYnQAQAAJAAAAAEB
				AAAwMEZEQTI2QS0zQjRDLTQ3RDYtOERFMi0xMkI2NjdG
				MTNBNTgYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAA
				AAAAAAEAAAABAQAALwAAAAAAAAABBQAAqAAAAP7///8B
				AAAAAAAAAA0AAAAEEAAASAAAAAAAAAAFEAAAjAAAAAAA
				AAAQEAAAsAAAAAAAAABAEAAAoAAAAAAAAAACIAAAUAEA
				AAAAAAAFIAAA0AAAAAAAAAAQIAAA4AAAAAAAAAARIAAA
				BAEAAAAAAAASIAAA9AAAAAAAAAATIAAAoAAAAAAAAAAg
				IAAAMAEAAAAAAAAwIAAAXAEAAAAAAAAQ0AAABAAAAAAA
				AAA=
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.iCal</string>
				<key>dock-extra</key>
				<true/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/Calendar.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Calendar</string>
				<key>file-mod-date</key>
				<integer>3862198622</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>3862198622</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>3443412587</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vazwCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEwB
				AAAEAAAAAwMAAAAAACAMAAAAAQEAAEFwcGxpY2F0aW9u
				cwsAAAABAQAAR2hvc3R0eS5hcHAACAAAAAEGAAAQAAAA
				JAAAAAgAAAAEAwAAQ0gAAAAAAAAIAAAABAMAALYDJgAA
				AAAACAAAAAEGAABIAAAAWAAAAAgAAAAABAAAQcf7CXMC
				nDsYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAA
				AAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9z
				aCBIRAgAAAAEAwAAACAlidABAAAIAAAAAAQAAEHH34Av
				AAAAJAAAAAEBAAAwMEZEQTI2QS0zQjRDLTQ3RDYtOERF
				Mi0xMkI2NjdGMTNBNTgYAAAAAQIAAIEAAAABAAAA7xMA
				AAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAA
				qAAAAP7///8BAAAAAAAAAA0AAAAEEAAAOAAAAAAAAAAF
				EAAAaAAAAAAAAAAQEAAAiAAAAAAAAABAEAAAeAAAAAAA
				AAACIAAAOAEAAAAAAAAFIAAAqAAAAAAAAAAQIAAAuAAA
				AAAAAAARIAAA7AAAAAAAAAASIAAAzAAAAAAAAAATIAAA
				3AAAAAAAAAAgIAAAGAEAAAAAAAAwIAAARAEAAAAAAAAQ
				0AAABAAAAAAAAAA=
				</data>
				<key>bundle-identifier</key>
				<string>com.mitchellh.ghostty</string>
				<key>dock-extra</key>
				<true/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Ghostty.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Ghostty</string>
				<key>file-mod-date</key>
				<integer>106218407583874</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>187251555738313</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>656626334</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va0gCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFgB
				AAAEAAAAAwMAAAAAACAMAAAAAQEAAEFwcGxpY2F0aW9u
				cxUAAAABAQAATWljcm9zb2Z0IE91dGxvb2suYXBwAAAA
				CAAAAAEGAAAQAAAAJAAAAAgAAAAEAwAAQ0gAAAAAAAAI
				AAAABAMAAEQtAgAAAAAACAAAAAEGAABUAAAAZAAAAAgA
				AAAABAAAQcfum7gAAAAYAAAAAQIAAAIAAAAAAAAADwAA
				AAAAAAAAAAAAAAAAAAgAAAABCQAAZmlsZTovLy8MAAAA
				AQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAACAlidABAAAI
				AAAAAAQAAEHH34AvAAAAJAAAAAEBAAAwMEZEQTI2QS0z
				QjRDLTQ3RDYtOERFMi0xMkI2NjdGMTNBNTgYAAAAAQIA
				AIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAA
				LwAAAAAAAAABBQAAqAAAAP7///8BAAAAAAAAAA0AAAAE
				EAAARAAAAAAAAAAFEAAAdAAAAAAAAAAQEAAAlAAAAAAA
				AABAEAAAhAAAAAAAAAACIAAARAEAAAAAAAAFIAAAtAAA
				AAAAAAAQIAAAxAAAAAAAAAARIAAA+AAAAAAAAAASIAAA
				2AAAAAAAAAATIAAA6AAAAAAAAAAgIAAAJAEAAAAAAAAw
				IAAAUAEAAAAAAAAQ0AAABAAAAAAAAAA=
				</data>
				<key>bundle-identifier</key>
				<string>com.microsoft.Outlook</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Microsoft%20Outlook.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Microsoft Outlook</string>
				<key>file-mod-date</key>
				<integer>259832206611643</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>221954891407714</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>4137676147</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vazgCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEgB
				AAAEAAAAAwMAAAAAACAMAAAAAQEAAEFwcGxpY2F0aW9u
				cwcAAAABAQAAWmVuLmFwcAAIAAAAAQYAABAAAAAkAAAA
				CAAAAAQDAABDSAAAAAAAAAgAAAAEAwAAbqYQAAAAAAAI
				AAAAAQYAAEQAAABUAAAACAAAAAAEAABBx/a+TAAAABgA
				AAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAA
				AAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhE
				CAAAAAQDAAAAICWJ0AEAAAgAAAAABAAAQcffgC8AAAAk
				AAAAAQEAADAwRkRBMjZBLTNCNEMtNDdENi04REUyLTEy
				QjY2N0YxM0E1OBgAAAABAgAAgQAAAAEAAADvEwAAAQAA
				AAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA
				/v///wEAAAAAAAAADQAAAAQQAAA0AAAAAAAAAAUQAABk
				AAAAAAAAABAQAACEAAAAAAAAAEAQAAB0AAAAAAAAAAIg
				AAA0AQAAAAAAAAUgAACkAAAAAAAAABAgAAC0AAAAAAAA
				ABEgAADoAAAAAAAAABIgAADIAAAAAAAAABMgAADYAAAA
				AAAAACAgAAAUAQAAAAAAADAgAABAAQAAAAAAABDQAAAE
				AAAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>app.zen-browser.zen</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Zen.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Zen</string>
				<key>file-mod-date</key>
				<integer>55086822249428</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>187251555738313</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>458997038</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vazwCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEwB
				AAAEAAAAAwMAAAAAACAMAAAAAQEAAEFwcGxpY2F0aW9u
				cwoAAAABAQAASGVsaXVtLmFwcAAACAAAAAEGAAAQAAAA
				JAAAAAgAAAAEAwAAQ0gAAAAAAAAIAAAABAMAABCpHQAA
				AAAACAAAAAEGAABIAAAAWAAAAAgAAAAABAAAQcf3VEll
				8jEYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAA
				AAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9z
				aCBIRAgAAAAEAwAAACAlidABAAAIAAAAAAQAAEHH34Av
				AAAAJAAAAAEBAAAwMEZEQTI2QS0zQjRDLTQ3RDYtOERF
				Mi0xMkI2NjdGMTNBNTgYAAAAAQIAAIEAAAABAAAA7xMA
				AAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAA
				qAAAAP7///8BAAAAAAAAAA0AAAAEEAAAOAAAAAAAAAAF
				EAAAaAAAAAAAAAAQEAAAiAAAAAAAAABAEAAAeAAAAAAA
				AAACIAAAOAEAAAAAAAAFIAAAqAAAAAAAAAAQIAAAuAAA
				AAAAAAARIAAA7AAAAAAAAAASIAAAzAAAAAAAAAATIAAA
				3AAAAAAAAAAgIAAAGAEAAAAAAAAwIAAARAEAAAAAAAAQ
				0AAABAAAAAAAAAA=
				</data>
				<key>bundle-identifier</key>
				<string>net.imput.helium</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Helium.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Helium</string>
				<key>file-mod-date</key>
				<integer>224183978303890</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>212883919954070</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>458997039</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vazwCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEwB
				AAAEAAAAAwMAAAAAACAMAAAAAQEAAEFwcGxpY2F0aW9u
				cwsAAAABAQAAU3BvdGlmeS5hcHAACAAAAAEGAAAQAAAA
				JAAAAAgAAAAEAwAAQ0gAAAAAAAAIAAAABAMAAImZDAAA
				AAAACAAAAAEGAABIAAAAWAAAAAgAAAAABAAAwcPAkUAA
				AAAYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAA
				AAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9z
				aCBIRAgAAAAEAwAAACAlidABAAAIAAAAAAQAAEHH34Av
				AAAAJAAAAAEBAAAwMEZEQTI2QS0zQjRDLTQ3RDYtOERF
				Mi0xMkI2NjdGMTNBNTgYAAAAAQIAAIEAAAABAAAA7xMA
				AAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAA
				qAAAAP7///8BAAAAAAAAAA0AAAAEEAAAOAAAAAAAAAAF
				EAAAaAAAAAAAAAAQEAAAiAAAAAAAAABAEAAAeAAAAAAA
				AAACIAAAOAEAAAAAAAAFIAAAqAAAAAAAAAAQIAAAuAAA
				AAAAAAARIAAA7AAAAAAAAAASIAAAzAAAAAAAAAATIAAA
				3AAAAAAAAAAgIAAAGAEAAAAAAAAwIAAARAEAAAAAAAAQ
				0AAABAAAAAAAAAA=
				</data>
				<key>bundle-identifier</key>
				<string>com.spotify.client</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Spotify.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Spotify</string>
				<key>file-mod-date</key>
				<integer>86117960652964</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>187251555738313</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>3857380538</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vazwCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEwB
				AAAEAAAAAwMAAAAAACAMAAAAAQEAAEFwcGxpY2F0aW9u
				cwkAAAABAQAAU2xhY2suYXBwAAAACAAAAAEGAAAQAAAA
				JAAAAAgAAAAEAwAAQ0gAAAAAAAAIAAAABAMAAN3oAAAA
				AAAACAAAAAEGAABIAAAAWAAAAAgAAAAABAAAQcftEUyA
				AAAYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAA
				AAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9z
				aCBIRAgAAAAEAwAAACAlidABAAAIAAAAAAQAAEHH34Av
				AAAAJAAAAAEBAAAwMEZEQTI2QS0zQjRDLTQ3RDYtOERF
				Mi0xMkI2NjdGMTNBNTgYAAAAAQIAAIEAAAABAAAA7xMA
				AAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAA
				qAAAAP7///8BAAAAAAAAAA0AAAAEEAAAOAAAAAAAAAAF
				EAAAaAAAAAAAAAAQEAAAiAAAAAAAAABAEAAAeAAAAAAA
				AAACIAAAOAEAAAAAAAAFIAAAqAAAAAAAAAAQIAAAuAAA
				AAAAAAARIAAA7AAAAAAAAAASIAAAzAAAAAAAAAATIAAA
				3AAAAAAAAAAgIAAAGAEAAAAAAAAwIAAARAEAAAAAAAAQ
				0AAABAAAAAAAAAA=
				</data>
				<key>bundle-identifier</key>
				<string>com.tinyspeck.slackmacgap</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Slack.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Slack</string>
				<key>file-mod-date</key>
				<integer>3863976857</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>145873839853063</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>4137676148</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va0ACAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFAB
				AAAEAAAAAwMAAAAAACAMAAAAAQEAAEFwcGxpY2F0aW9u
				cxAAAAABAQAAU3VibGltZSBUZXh0LmFwcAgAAAABBgAA
				EAAAACQAAAAIAAAABAMAAENIAAAAAAAACAAAAAQDAADo
				kgwAAAAAAAgAAAABBgAATAAAAFwAAAAIAAAAAAQAAEHG
				7s9AAAAAGAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAA
				AAAAAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNp
				bnRvc2ggSEQIAAAABAMAAAAgJYnQAQAACAAAAAAEAABB
				x9+ALwAAACQAAAABAQAAMDBGREEyNkEtM0I0Qy00N0Q2
				LThERTItMTJCNjY3RjEzQTU4GAAAAAECAACBAAAAAQAA
				AO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAA
				AQUAAKgAAAD+////AQAAAAAAAAANAAAABBAAADwAAAAA
				AAAABRAAAGwAAAAAAAAAEBAAAIwAAAAAAAAAQBAAAHwA
				AAAAAAAAAiAAADwBAAAAAAAABSAAAKwAAAAAAAAAECAA
				ALwAAAAAAAAAESAAAPAAAAAAAAAAEiAAANAAAAAAAAAA
				EyAAAOAAAAAAAAAAICAAABwBAAAAAAAAMCAAAEgBAAAA
				AAAAENAAAAQAAAAAAAAA
				</data>
				<key>bundle-identifier</key>
				<string>com.sublimetext.4</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Sublime%20Text.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Sublime Text</string>
				<key>file-mod-date</key>
				<integer>3830650752</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>184073279617239</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>4137676149</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vazwCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEwB
				AAAEAAAAAwMAAAAAACAMAAAAAQEAAEFwcGxpY2F0aW9u
				cwoAAAABAQAAQ3Vyc29yLmFwcAAACAAAAAEGAAAQAAAA
				JAAAAAgAAAAEAwAAQ0gAAAAAAAAIAAAABAMAAFYvDQAA
				AAAACAAAAAEGAABIAAAAWAAAAAgAAAAABAAAwcPAkUAA
				AAAYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAA
				AAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9z
				aCBIRAgAAAAEAwAAACAlidABAAAIAAAAAAQAAEHH34Av
				AAAAJAAAAAEBAAAwMEZEQTI2QS0zQjRDLTQ3RDYtOERF
				Mi0xMkI2NjdGMTNBNTgYAAAAAQIAAIEAAAABAAAA7xMA
				AAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAA
				qAAAAP7///8BAAAAAAAAAA0AAAAEEAAAOAAAAAAAAAAF
				EAAAaAAAAAAAAAAQEAAAiAAAAAAAAABAEAAAeAAAAAAA
				AAACIAAAOAEAAAAAAAAFIAAAqAAAAAAAAAAQIAAAuAAA
				AAAAAAARIAAA7AAAAAAAAAASIAAAzAAAAAAAAAATIAAA
				3AAAAAAAAAAgIAAAGAEAAAAAAAAwIAAARAEAAAAAAAAQ
				0AAABAAAAAAAAAA=
				</data>
				<key>bundle-identifier</key>
				<string>com.todesktop.230313mzl4w4u92</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Cursor.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Cursor</string>
				<key>file-mod-date</key>
				<integer>274770104148342</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>184073279617239</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>4137676150</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va0ACAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFAB
				AAAEAAAAAwMAAAAAACAMAAAAAQEAAEFwcGxpY2F0aW9u
				cw0AAAABAQAAR2l0QnV0bGVyLmFwcAAAAAgAAAABBgAA
				EAAAACQAAAAIAAAABAMAAENIAAAAAAAACAAAAAQDAADE
				VC4AAAAAAAgAAAABBgAATAAAAFwAAAAIAAAAAAQAAEHH
				/gtU3ujyGAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAA
				AAAAAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNp
				bnRvc2ggSEQIAAAABAMAAAAgJYnQAQAACAAAAAAEAABB
				x9+ALwAAACQAAAABAQAAMDBGREEyNkEtM0I0Qy00N0Q2
				LThERTItMTJCNjY3RjEzQTU4GAAAAAECAACBAAAAAQAA
				AO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAA
				AQUAAKgAAAD+////AQAAAAAAAAANAAAABBAAADwAAAAA
				AAAABRAAAGwAAAAAAAAAEBAAAIwAAAAAAAAAQBAAAHwA
				AAAAAAAAAiAAADwBAAAAAAAABSAAAKwAAAAAAAAAECAA
				ALwAAAAAAAAAESAAAPAAAAAAAAAAEiAAANAAAAAAAAAA
				EyAAAOAAAAAAAAAAICAAABwBAAAAAAAAMCAAAEgBAAAA
				AAAAENAAAAQAAAAAAAAA
				</data>
				<key>bundle-identifier</key>
				<string>com.gitbutler.app</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/GitButler.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>GitButler</string>
				<key>file-mod-date</key>
				<integer>39483205586861</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>184073279617239</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
	</array>
	<key>persistent-others</key>
	<array>
		<dict>
			<key>GUID</key>
			<integer>869838894</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va1wCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGwB
				AAAEAAAAAwMAAAAAACAFAAAAAQEAAFVzZXJzAAAABgAA
				AAEBAABTaGFyZWQAAAcAAAABAQAASG9yaXpvbgAMAAAA
				AQYAABAAAAAgAAAAMAAAAAgAAAAEAwAAP0gAAAAAAAAI
				AAAABAMAAEFIAAAAAAAACAAAAAQDAAAknx8AAAAAAAwA
				AAABBgAAVAAAAGQAAAB0AAAACAAAAAAEAABBxmlIFYAA
				ABgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAA
				CAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3No
				IEhECAAAAAQDAAAAICWJ0AEAAAgAAAAABAAAQcffgC8A
				AAAkAAAAAQEAADAwRkRBMjZBLTNCNEMtNDdENi04REUy
				LTEyQjY2N0YxM0E1OBgAAAABAgAAgQAAAAEAAADvEwAA
				AQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACo
				AAAA/v///wEAAAAAAAAADQAAAAQQAABAAAAAAAAAAAUQ
				AACEAAAAAAAAABAQAACoAAAAAAAAAEAQAACYAAAAAAAA
				AAIgAABYAQAAAAAAAAUgAADIAAAAAAAAABAgAADYAAAA
				AAAAABEgAAAMAQAAAAAAABIgAADsAAAAAAAAABMgAAD8
				AAAAAAAAACAgAAA4AQAAAAAAADAgAABkAQAAAAAAABDQ
				AAAEAAAAAAAAAA==
				</data>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Users/Shared/Horizon</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Horizon</string>
				<key>file-mod-date</key>
				<integer>3813148971</integer>
				<key>file-type</key>
				<integer>40</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>213919006901903</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>584281959</integer>
			<key>tile-data</key>
			<dict>
				<key>arrangement</key>
				<integer>2</integer>
				<key>book</key>
				<data>
				Ym9va5gCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIQB
				AAAEAAAAAwMAAAAAACAFAAAAAQEAAFVzZXJzAAAADwAA
				AAEBAABkYW5pZWwuZ3JlZmJlcmcACQAAAAEBAABEb3du
				bG9hZHMAAAAMAAAAAQYAABAAAAAgAAAAOAAAAAgAAAAE
				AwAAP0gAAAAAAAAIAAAABAMAABWkBQAAAAAACAAAAAQD
				AABzpAUAAAAAAAwAAAABBgAAYAAAAHAAAACAAAAACAAA
				AAAEAABBx9+ALwAAABgAAAABAgAAAgAAAAAAAAAPAAAA
				AAAAAAAAAAAAAAAACAAAAAQDAAABAAAAAAAAAAQAAAAD
				AwAA9gEAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1h
				Y2ludG9zaCBIRAgAAAAEAwAAACAlidABAAAkAAAAAQEA
				ADAwRkRBMjZBLTNCNEMtNDdENi04REUyLTEyQjY2N0Yx
				M0E1OBgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAA
				AAAAAQAAAAEBAAAvAAAAAAAAAAEFAADMAAAA/v///wEA
				AAAAAAAAEAAAAAQQAABMAAAAAAAAAAUQAACQAAAAAAAA
				ABAQAAC0AAAAAAAAAEAQAACkAAAAAAAAAAIgAABwAQAA
				AAAAAAUgAADwAAAAAAAAABAgAAAAAQAAAAAAABEgAAAk
				AQAAAAAAABIgAAAUAQAAAAAAABMgAACkAAAAAAAAACAg
				AABQAQAAAAAAADAgAAB8AQAAAAAAAAHAAADUAAAAAAAA
				ABHAAAAgAAAAAAAAABLAAADkAAAAAAAAABDQAAAEAAAA
				AAAAAA==
				</data>
				<key>displayas</key>
				<integer>0</integer>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Users/daniel.grefberg/Downloads/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Downloads</string>
				<key>file-mod-date</key>
				<integer>101682921336540</integer>
				<key>file-type</key>
				<integer>2</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>31576170172079</integer>
				<key>preferreditemsize</key>
				<integer>-1</integer>
				<key>showas</key>
				<integer>3</integer>
			</dict>
			<key>tile-type</key>
			<string>directory-tile</string>
		</dict>
	</array>
	<key>recent-apps</key>
	<array/>
	<key>region</key>
	<string>SE</string>
	<key>show-process-indicators</key>
	<true/>
	<key>show-recents</key>
	<false/>
	<key>showLaunchpadGestureEnabled</key>
	<integer>0</integer>
	<key>showhidden</key>
	<true/>
	<key>tilesize</key>
	<integer>54</integer>
	<key>trash-full</key>
	<true/>
	<key>version</key>
	<integer>1</integer>
	<key>wvous-bl-corner</key>
	<integer>0</integer>
	<key>wvous-bl-modifier</key>
	<integer>0</integer>
	<key>wvous-br-corner</key>
	<integer>14</integer>
	<key>wvous-tl-corner</key>
	<integer>0</integer>
	<key>wvous-tl-modifier</key>
	<integer>0</integer>
	<key>wvous-tr-corner</key>
	<integer>0</integer>
	<key>wvous-tr-modifier</key>
	<integer>0</integer>
</dict>
</plist>
