# shellcheck shell=bash
#
# This file is for aliases that are to be shared between all shells (e.g. both bash and fish).
# For shell-specific aliases, add them to:
#   bash: ~/.config/bash/aliases.sh
#   fish: ~/.config/fish/aliases.fish

alias edit='$EDITOR' # edit with default editor
alias sudo='sudo '   # enable aliases to be sudo’ed

# edit shortcuts
alias gitconfig='git config --global --edit'
alias gitignore='edit ~/.gitignore_global'
alias gitexclude='edit $(git rev-parse --git-dir)/info/exclude'
alias fishconfig='edit $FISH_DIR/config.fish'
alias fishfunctions='edit $FISH_CUSTOM_FUNCTIONS_DIR'
alias bashconfig='edit ~/.bashrc'
alias bashrc='bashconfig'
alias bashprofile='edit ~/.bash_profile'
alias bashfunctions='edit $BASH_DIR/functions.sh'
alias aliases='edit $HOME/.aliases'

# vscode vs cursor aliases
alias vscode='/opt/homebrew/bin/code'

# Github aliases
alias git='hub'              # hub extends git with extra functionality
alias opr='gh pr view --web' # open pull request in browser
alias prl='git pr-link'      # copy a formatted markdown link to the provided PR

# dotfiles aliases
alias dotfiles_env='env GIT_WORK_TREE=$HOME GIT_DIR=$DOTFILES_GIT_DIR'
alias dotcode='dotfiles_env code $HOME'
alias dotfiles='git --git-dir=$DOTFILES_GIT_DIR --work-tree=$HOME'
alias dot='dotfiles'

# use GNU coreutils/findutils (installed through Homebrew) instead of Mac OSX's outdated ones
alias mv='gmv --interactive'
alias rm='grm --interactive'
alias cp='gcp --interactive'
alias mkdir='gmkdir'
alias grep='ggrep --color=auto'
alias egrep='gegrep --color=auto'
alias fgrep='gfgrep --color=auto'
alias ls='gls --color=auto --group-directories-first --sort=extension -p'
alias ln='gln'
alias pip='pip3'
alias cat='bat'
alias ocat='/bin/cat'
alias find='fd'
alias ocat='/bin/find'

# utils
alias la='ls -la'
alias filesize='dust -s'
alias pnpmg='corepack pnpm@8 -g'
alias pnpmup='pnpmg update --latest'
alias cb='pbcopy'
alias cbp='pwd | pbcopy'
alias copypwd='cbp'
alias symlink='ln -s'

# shortcuts
alias g='git'
alias n='npm'
alias y='yarn'
alias p='pnpm'
alias c='clear'
alias fs='filesize'
alias fsu='ncdu -x'
alias cdf='cdfinder'
alias lsa='la'

# app aliases
alias 1p='op'
alias 1password='op'
alias youtube='yt-dlp'
alias yt='yt-dlp'

# aws aliases
alias awsconfig='code ~/.aws'
alias awsconf='awsconfig'
