# shellcheck shell=bash
#
# This file is for exports/environment variables that are to be shared between all shells (e.g. both bash and fish).
# For shell-specific exports, add them to:
#   bash: ~/.exports.sh
#   fish: ~/.config/fish/exports.fish
#
# THIS FILE IS SYNCED WITH DOTFILES AND SHOULD NOT CONTAIN SENSITIVE INFORMATION.
# IF YOU NEED SENSITIVE ENV VARIABLES, ADD THEM TO .env/.envrc OR .extras.bash/extras.fish

export EDITOR="code"      # Edit with VS Code by default
export MANPAGER="less -X" # Don’t clear the screen after quitting a manual page

## dotfiles
export DOTFILES_DIR="$HOME/.dotfiles"
export DOTFILES_GIT_DIR="$HOME/.dotfiles-git"
export DOTFILES_ITERM_DIR="$DOTFILES_DIR/iterm"

## fish
export FISH_DIR="$HOME/.config/fish"
export FISH_CUSTOM_FUNCTIONS_DIR="$FISH_DIR/custom_functions"

## bash
export BASH_DIR="$HOME/.config/bash"

## direnv (https://direnv.net/)
export DIRENV_LOG_FORMAT="" # direnv log formatting, leave empty to silence

# Hide the “default interactive shell is now zsh” warning on macOS.
export BASH_SILENCE_DEPRECATION_WARNING=1;
