# shellcheck shell=sh disable=SC2125
#
# This file is for exports/environment variables that are to be shared between all shells (e.g. both bash and fish).
# For shell-specific exports, add them to:
#   bash: ~/.exports.sh
#   fish: ~/.config/fish/exports.fish
#
# THIS FILE IS SYNCED WITH DOTFILES AND SHOULD NOT CONTAIN SENSITIVE INFORMATION.
# IF YOU NEED SENSITIVE ENV VARIABLES, ADD THEM TO .env/.envrc OR .extras.bash/extras.fish

## GENERAL
export LANG="en_US.UTF-8"                 # Set the default language to English
export EDITOR="nano"                      # Edit with Nano by default if VISUAL isn't respected
export VISUAL="code"                      # Edit visually with VS Code/Cursor
export MANPAGER="less -X"                 # Don’t clear the screen after quitting a manual page
export BASH_SILENCE_DEPRECATION_WARNING=1 # Hide the “default interactive shell is now zsh” warning on macOS.
export XDG_CONFIG_HOME="$HOME/.config"    # Some tools expect it to be set

## dotfiles (https://github.com/duniul/dotfiles)
export DOTFILES_DIR="$HOME/.dotfiles"
export DOTFILES_GIT_DIR="$HOME/.dotfiles-git"

## fish
export FISH_DIR="$HOME/.config/fish"
export FISH_CUSTOM_FUNCTIONS_DIR="$FISH_DIR/custom_functions"

## bash
export BASH_DIR="$HOME/.config/bash"

## direnv
export DIRENV_LOG_FORMAT="" # direnv log formatting, leave empty to silence

## pnpm
export PNPM_HOME="$HOME/.pnpm"

## rust cargo
export CARGO_BIN="$HOME/.cargo/bin"

## user bins
export USER_BIN="$HOME/bin"
