[user]
name = Daniel Grefberg
email = hello@danielgrefberg.com

[core]
editor = code -w
autocrlf = false
excludesfile = ~/.gitignore_global

[credential]
  helper = osxkeychain

[alias]
cm = commit
ck = checkout
br = branch
pu = push
re = rebase
cherry = cherry-pick
stat = status
last = log -1 HEAD
unstage = reset HEAD --
uncommit = reset --soft HEAD~
sync = fetch --all --prune && git rebase -p --autostash $1
branch-name = rev-parse --abbrev-ref HEAD
root = rev-parse --show-toplevel
publish = push -u origin $(git branch-name)
unpublish = push origin :$(git branch-name)
clear-local = branch | grep -v '\\*\\|master\\|develop' | xargs -n 1 git branch -d
clear-merged = branch --merged | grep -v '\\*\\|master\\|develop' | xargs -n 1 git branch -d
continue = rebase --continue
global-ignore = !code ~/.gitignore_global

[pull]
rebase = true

[filter "lfs"]
clean = git-lfs clean -- %f
smudge = git-lfs smudge -- %f
process = git-lfs filter-process
required = true

[diff]
tool = vscode

[difftool "vscode"]
cmd = code --wait --diff $LOCAL $REMOTE

[filter "lfs"]
clean = git-lfs clean -- %f
smudge = git-lfs smudge -- %f
process = git-lfs filter-process
required = true

[pull]
rebase = true

[diff]
tool = vscode

[difftool "vscode"]
cmd = code --wait --diff $LOCAL $REMOTE
