[user]
name = Daniel Grefberg
email = hello@danielgrefberg.com

[core]
editor = code -w
autocrlf = false
excludesfile = ~/.gitignore_global

[credential]
helper = osxkeychain

[alias]
cm = commit
ck = checkout
br = branch
pu = push
re = rebase
amend = commit --amend --no-edit
cherry = cherry-pick
stat = status
last = log -1 HEAD
unstage = reset HEAD --
uncommit = !echo "Uncommitting:" && git log -1 --pretty=%B && git reset --soft HEAD~
stashu = stash --include-untracked
sync = fetch --all --prune && git rebase -p --autostash $1
branch-name = rev-parse --abbrev-ref HEAD
root = rev-parse --show-toplevel
continue = rebase --continue
publish = !git push -u origin $(git branch-name)
unpublish = !git push origin :$(git branch-name)
clear-local = !git branch | grep -v '\\*\\|master\\|develop' | xargs -n 1 git branch -d
clear-merged = !git branch --merged | grep -v '\\*\\|master\\|develop' | xargs -n 1 git branch -d
global-ignore = !code ~/.gitignore_global
sync-master = !git fetch && git rebase origin/master

[pull]
rebase = true

[filter "lfs"]
clean = git-lfs clean -- %f
smudge = git-lfs smudge -- %f
process = git-lfs filter-process
required = true

[diff]
tool = vscode

[difftool "vscode"]
cmd = code --wait --diff $LOCAL $REMOTE

# START: git-delta options
[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    
[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
# END: git-delta options
